USE dbispconfig;

UPDATE sys_ini SET custom_logo='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAABBCAYAAACU5+uOAAAACXBIWXMAAA7DAAA'
'OwwHHb6hkAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAGPlJREFUeJztnXl4VNX5xz9nJiQhQACzQUBAwQ2xohXXitYFsYiCIop'
'iKz9pFfeqrQsow1LrUvSnFRTqjrWuQGSRFsRdUahUxRW17JuJIUIIWWbe/vHeydyZzHJnS4Y23+eZJzN3zjn3nMl5z3mX73kvtKIVrWhFK1qRCExLdyB'
'jIHIi8AtgANAJ/W1qgH8C7wBlGFPXch1sRSuaGyIGkdGIfIKIWK8NiCyxXh8gUmNd34LIBERyWrrbrWhF+iFSgshSa/JXIHIrIvuHKZeFyBmILEDEh8j'
'HiBzWAj1uRSuSgEg2IoMRGY/InxC5C5FfI9InTNmDEFlvCcd0RDo6vMeZiGxGpAqRn6Z6CK3IPOz9NohINvBb4CagMEKplcC9wItAD2A5sA9wJcY8Fuf'
'9ugJvA/nAzzDm67989NEfl3z33XsvrF5dA2wH8oD2wHfA/q3XWviay+XmjjtWRf6nRoYrkUoZA5HuwPvAXcAG4DL0R3GhP9QxwGSgC/A8sAyYD5QAo+M'
'WDgBjtgCDAB/wBCLGJ+LziUjS42lFeuDzjWHmzDYt3Y3mhUgRIl8jUo/IDYhEFnaRHERuQmS3pVbdkYL7X2i1dWnSbbUivZg06ee88II7kapZqe5LM+I'
'JoDcwCmNeiFrSmFrgT4jMQ924zzUpM5WeNFCG7gzfYnicibwapc3nELkCuBV4MsExpASi6l64CbDLQH1z9ycDcTyVle8A3ngr7p0CIjIEGALcH1M47DD'
'mG+AbwDCJMQhHApOAH2ngj8DhQAVwBMK+EEVAFLOAvyJyFMasTGAkqcIyIKzTQGA3sANYD3wIvAeUGdjTfN1rYYhUsmVLQirw3mqDXA/sRO2L+PAgOXh'
'4HuFx4GrgW2AjMApYiociYDbQn8kMAMDDkdxJQZjWytCJNjSRQTQT8oBS4FjgWnT33CAwRSC3RXvWfFhL377/IwKiLtmfA3MxZkfc9X/gGuB8dNW9Cvg'
'c3TWm0Y5hgAD/D4CPD/FQAfyTOt7CQ6egtoypRlfm/RIdThrwLLqz+V9PooK80VamEJgALBdo6gb/b4MxR1BZmdBc3xtVrJ+g+va7CdU2fIauJS/i4RF'
'gRpMyHj7CwymAB51AX6Mr8AzgopDSm4FuCfUlPbjFqEevCQQOBK4Dfg20QVXKxQIDDFQ2Yx+bG+/RubMvkYotuoOcXVxcMqyo6MyhpaWR4hfh4C+7PcH'
'b6qJgaBe1lIf38DAID/vj4TjUnXwBdxEaVCwAqhPsS7PCwNdGd81BBASiN/BIy/WqWXD8XreDnFNcfIaBWRizr6uhYe3w4uKL527f/r6Dqrutv86i335'
'46AGMQLgJ8CEsCfk+F+gFlOOhPEzdY4B7uYWqxusihUBf4JW4+tLCMPCGaMxojnVphMDBBr6MVk80ADcY6AcUAT+gKuoig+13Ca7TD8gBfAYcBesk4HC'
'oMdp+ckjCSHcsIOcfemh2bXn5YLzer3C7D3L5fPVet3u9EemdyDVgIhrVxsB+PrgDODPCALsAvwROQH9wgCOBp+IY61/QlbMeww1M5JPGbyYxFGEWGlB'
'swMMs4Do8NFgl+qG77Vshbd6Iqnsvx9GPjICBuaJ22Cno2Mah6lcTiKpjvwNug7A7748Ctxt4MMx3t6EOEAT6GvgiWr8EjgJWWB8fRdXBZJF+I71227Y'
'cF3TJgh+zvN6NPmM2tamrq8ryejcmcs1AbVBHwlHJlSg4AVgH3I1O1E+BF4jtgg3FEehqtD8TeaDx6lS6ITwP7MJwA/AScCXq4VK4+dZ6dyUeiq2+jUA'
'nTRnGJERjyADMsr0/KVwB0dX/JeAPBIRjN0rl8O8a+cADonSeUDxve3+hgz5dEKFu4kjCSHeMYZ06dRpeUuJkgI5wXmnpEcOKi788p7i4clhx8WdnFxY'
'eFFRAhWOOFa1+FZHjk7idwYMXDx81sSE8jMWDNLp0texXeHgzpNyTeBA87FShki+tvjUgsgyRcYi0iNtUYKWAWK9946hXaqvXINAhTJn7bWU+FjhdrKC'
'kgEtgsMBaW5mhIfVzBCqt72KpcEZgnVV2q4QPfsaPJCLpjqXKm5eXJT5fPMZ0VLy8efOqTnl5/V1u9/FtioqOeKW8/KuQIvcAw4E/Ar/AmPeSuJ2gq9E'
'R7GEZHrIbvzFWpFksF+5MslCVIjgC3ZfLUGO2PUIuMAwYCzyM2i4zgE8RGZREP5sVRj1wfmeHmxDhEt11r7U+rgJOMLDEWBFpo3bFYuBkArvJ1JB71AJ'
'zrY8HCfSP0qXjsdRu4EWTQOQ7YrsJ7iDxVNqN2/1hIjeJhCfXrt0zd8uWL1787LNg9UrkGFQffhkYjzHJEwE9XIRhAmq7nB24F2XADoRn8HAfW1iKxjW'
'eCar/OUWokbqHjmzEmC8x5jGMuQZ1BQ8FGoDFiFyZdH+bDxW2951DvruKwBz5jYFd4RowsBa4z/r4E9Hf2A47tecCIsP+XVM6UKJopkh6Hl7v0YncJAG'
'MR1eea1MiHH5IY+wkEBzzsAM4Ffgepc0fhuEWPDZ+lYcRqM49GpjPtcH2E8b4MGYB6n2ZAzy0F5EYf7S9D/UM+tWl1UaPDERDme19qDq8jMBOdYGEOWZ'
'hqVMjrI/rUUpMqpB+I93U1dVCo7GaPoh0Q3lWszFmc4pbvwYAF8HuZA0M9qMt+XgoYCJ3277LQ4mRurN4GBmxdWN2ox6bN4HpiGRShD0S7HZTjf+N6C5'
'abH1cQWyssb0Pis4b3Vlfsj7uB4RbaAcCXa33zxtI3cKYhJHuuJKrocFtXK74Yg+JYTDarxfT0HY+4MUE0S4CuJmdNP3HDATaY3gAD2tj3sGYemAM6kK'
'/LZnONhPs9Bl7NN3ODhgl8EO0F8FUllBVDWKrWelRrxTpj6Sn2kiPgmNRyvkHaWj7OmAPXl7Dw/t4mMskhsSo4w9M9nV8F2PWoivmBZmc5EHUbdvddsn'
'OTrAvhrnopI/18iPcmN8lIETni23uiS4m51kfvzbwUdyDiY5miaSn3EiPgP2BNRizM+Ute/jcsifuBv4NHIWwAA8X4+FZK5p+D+qv96G72FFAHWqDxIP'
'XUN7W4SjNPBNxJAFX6ibLq+WH3c56gYCK5ARNuGAGfKLt3IAK5Qno0WWA0whQiFIT+7CjOSLpBIz0iP9sETFznn76sq1btw6vrqnpXF9fH7fv+avZszs'
'YEd+B48enfAfJzc6uLezceWu30tJLThsx4hM85KNExNuZRCXCKGAkSnfPRQOG63BxGnc0/jOd4lPrbw8yV0DsxMtQo9ju3dphUqPyPocKCKhK9bbtvb1'
'M6jBp0u8sh8lZTJ06jgkT1sVT3bGAmLq6WoyJaKSvXLmyzdPTp897vqzslPWbNuV2LS7G5U4gNrN8OQBb468ZE7traiivqGDwySef+LeHH75n1Lhx9+P'
'hReBqhEUAGCYwkT8AMJUJ5LGdGwLGaxzwG78J6b7phqjgjrZdeiakyBfoLpKDrvZJw8AKUUdPb5T/dR06B4dZRT5JCffKjylTBuH13obaWX1paHgOOC6'
'eJhwLiKuhwW1yciIa6V+tWPHArNmzz+jft++2i849d0lxQUFZh/z81KtJSWDztm29qyorRz47b95x9V7vzQv/9rf3howadQ0eHsBwKNCeDo0EPphAXKt'
'NCHpZf/+dRBtpgWV7PIPGdUAj3AvsZQzsEbUbTgEOFTjapGYnfA5145eg53ryCDgKUrt7eL2nE+yEKMbjceHxOF60HAuINy8vy11fH9ZIf/3113PfXLz'
'49KLCwt0/P+GE20eMHfu403abGUuBmU88+OCC+2bOHNK/X7/bgHPw4D+Km0qMRGMrH6e43aQg6mKdhdpGoIyBsSb8TvcQKiAAMwR+FuuorkBboDZCexA'
'QEFDVKi9QNeX2x4soydXvrl4bj3BAioz0drt3H/zlmjXdBhx++BoVDumCxhzcKAXhLnQ7PQT9IWah56RvsspsA3MHyHWot0hQ9u0u9HitC9gAZirI71A'
'/u6D0jlpbmU1gJoPcBBxglXkY9e9frf0wm/ft1m1a7169Tv++oiI9B51EjkLd1fdiTHOrWIdJYEKA8qsKUIE4jWAVowEYZyIfPitDnQ2nokHQZQK/NvB'
'ZaEFRw/ti9H/RhwhnZAysFq1/KHAuNNJ+Vpj4HSHR4fF8iMdzOTAWY7aSk3NjvE2kxEgXt7vD7pqa3NycHH9UdiDwf+g5iWx08toniiH8ChN6ze55cIU'
'pE9qOhCkj1udRKF39pba5ud+VFBT86PP5Uu+CFWmHGvnlqEesubHQYblvgV+aKBFry/M0GngdOBgVrk8E/oVO8hrU+9QXOAjniQifA6agyfvs11IPj2c'
'eMC/R6ikz0kPwBfAImEm2a+HOCoRwlsyfw5QZF1JmmoMy9zUtIhtQd236oInsnkdd1YMSOjOfXlSiAvEY8IoTMqBRVu0JKFFzBLpQHUlTvhXoYvQ6sVM'
'N+QXEDx/qAs44pMxID8FqcBB1bl6cC2xKS8siB6Iq3KXo5BiKMW9GrROAgUYi5G50EtdGrdEUdxI57Wolqs6uA9YkQuEwGikfKaqmnYvuJF1Q7aASdZV'
'/gJ4sXOugvW8ELiFgf1SZdP1vkkRKjPQwOAulSZ+eUK/Sg/NQ2nVkPVfkOfTU4U5oPE3oRw6BfyjWe7uKVoeecJxopSeNhkNQ1eVMdNLZo7wNqGG/DOW'
'ART2BB2Cwed7SCKP9SonTwTR1K2ck0hVJb2u9MgmXoqtoNEPwfYIna0fb53oCdG8f6nyoRlf9dWgaouCz7E1RhDosfkXkw0BZqEH8U/TE4nyUZZx+omh'
'qsQrlvlWibIS9EimNpNtQR9MVOPNhzANgO46bWvRGjwkfYLtWj3qQPkfVoPaoN+gkaExUNxQ1kA9MU7/ShV5oDCLWopHRSJeRvgiHGSyaES8ToH80N4p'
'RCrzfrVwDTAP+RPhsIG7UJTsZjVvsfQn+/kuQLrp7Kfq8v0zCNNSYbG4YNLuhXziqUDvndiKkykG9S39Hmc1X0ZqAusWQLiP9aOAKNEiXKXgNTTUUbza'
'UINzLve2qqZ4myH4uXK9MZOL0GFWGEJzO6FL0oaBO4A+GvuGwvN8jVojuUlshIR5ZKEqsNitID00uElzWfYtQe28rqUm6XYSO6QeCGcxhO+AI7vr6ARi'
'zNz92rC3hczrFhWqqnwZ+YzCDBLlzMpNjZXr5re39fBILWsUi8PVCF6ONwDY0iOdPy7OUSPnGAmgPLLFeD1nX8lAVbzM6MVcDW1BKjp8lEYo2tnb8PK+'
'Otmv2V7i4mB99ULbFJms8q1FO2w50Zz0txngKbffxx832QdMSbUHPvXxqtZ8drgE/HO0gw0pKTkXkYaBwWFGRd97334+NUeVTMi+ZWi3xxxfCoTdWxFi'
'QfB++c4kcBe5CgMsE4fIAJ48rgPsJn6m9DUoTORUNDl5O+OBgGwKTriOqIi8iwNeyozc6uY9DqSWhbIfQydsmzDUICFAorkfP64SbuDmoejoImI6GEsI'
'xMnJs92yDutUXESCQ2hE1+h9TQCzheAzoqc2ZC4cVFRFDSL7EnyE9czCUxPP52rEBa+IYTLXBLIlS1k4T342u5qnENQSvxG+ju9Q6VGB+hgbkctFUozX'
'4z+VHRjZK8jsctdnmoKt3O5SWPtAqNwpdoZ+w1fVC43n+69GJWkP43WJ9mGs3o25wP5ahE3s9uqMNRONH2ahtVm3ViYa21nh6oTus//fJRxeO5AQEHXB'
'P2+d2BgafXVTU55Xvv4/EgB2Cptc/1kH7zYVRqHqTFCEuh5xf1lL7MDDAYJ6eyMS/RCl+jO39v0it6/sI1AsGqpePpumu/TTqtl6CJkS4CqV0RDv85d8'
'1pgG3ENzn+9E8ZbdYn28kWEAabN9djgpIte1aNBxPIKdWNXqqc0FImadQFfAfqBp1E3rSMVpSCX+CiEfRHcduk41vWjwYsW2Q2trTCI59bMbluiqKcIB'
'Ke6YFCscQnj8UF27l1koPngsN5vqJTJwUo3iJ7X2qz4V4CKgh/hxi4fAZ6hgAXS2dMFrno5MvnEDfQYAWcijh1ZZEMJnAgn05TYXDj1XAb6z3LoJtvEh'
'4y6oTt8MipoDM27FjR31t7WBEVogxW8WYK+Zu21YWo1od6SYGtjAER89JtycyiOTSTQTdUToP6I74aIzy/4DGZN2DCZ9UwY6pUb6rJ1hVPCxGW05wAKr'
'ugAr0szHKzyNwfucsYqconUqCaYQcebEWVlVV1tfVneF2uS4o27ZtvoMqiwgkAcsUzAFbRvfk8YaDMnbDOZULxkAC/7uFODvW63ct5xDe+PZjB7HzYNm'
'TMhQ5uHcs2BNnLyD2ZBYC4+mAGuGRUIMyjBOC4zjIwqqqSqqqQtP/R0IPNL1nGNp5i+HPqN87VTiZ2EJizzOVn8J72/PblhBQOaLBnne3S5RyG4k9Qe2'
'xkEjeqHhgH083nI2nq+19F9QVHA7fkITtl64H6ByJEvIySUBeRfV2pweKYuHH2EWCBCSVOcXsDxQdab3iQTRGhBM9PfTQWrKwj2c0wckknCDaeJz8nyJ'
'ib3xGYaLIJYWOA4NZE7tUULr/aGpNvLAHPHcRPxUl06gr9vGEO2oQC9HKJ+U5TJeArCYzA4Upeza4ZaTHssfsZ717ompO2Adsxgn7ScUr0SO+ezPs4xl'
'DBs2dNAmI+Rzk/vS0nTDORmkLQZjClP28eN2ofbIPsMONu0Osawbj5Cm7q9DMJn5D9ldE9xA5hf303cEpaK+lkbHjSRONWs4CokWYWwIjCTycpRFevAP'
'QgGZ34FgXrp5OrgnixG3bQPATZK8hNbaIPdCXaaxpP/yUljYOymbseNKlYmVioPAy1EMTFLDz4LEnC/C7gf/p8JoT+DlDHdFzIY+iLnCnuvE+6JnzK2z'
'X3kdJd11RD9Bg9ElPmYSdqPGdT7gndgXjTZQpXIBG1AfS9IGpLQLHArJy5co29eXlYR/06BM5rFePHnQpLu76xpw593y55o0D1vy7Y/HQQXMip71xudq'
'5Xa5Cn8ge8XqbqD7xQMBkZWX1AGjwejcYkSZxgbLF/+pywH5Vl/Q9aM7R9XV1HbuVluYUFhS0f3/x4rDM0GOXL19m4kwyFgHb0Miwn9B4Dno2fixhVL4'
'QDEcpH6H9qCVw4AqU7nESsc+7tEWpF04TSiSD79Aou0EnfbR7VqOUmMnW52fQ8cRiH7RDPabx5k12DMcuupXz5xe++u67X7yzYkVzPAKhRXH6wIFbzzz'
'kkJ6HjhyZyuDeHwh+XshO4HHU/fw5uoLmoyrcqcD5BJ4X/i0hD6VBF7claDwGNFJ/Nzq57I6ADugkGoby0VYSiML70ZlAjGgF4R9wY8c4Aszk6wl/TPk'
'2sHIca3+mozEJv2paRXBAMhsVIj9/rxLlfT1LsI2Sj55x94/ndZq6ubsReNTCmwR+o7gRl4r1Q2Vlfc/S0or+/foFuThdbnc78fl6+0JWbp8Yt8qg4DL'
'iFYwRMS6ALLdxlVeU53Tu1NknuGrDlTFGfAaRaO34y9Q3eNuJ+GjTJmePwecVMS7BGHuZ0PG43e4Gn9cb9OTVVatXH7ijqiodNJnx6NmKaWg0uwPKoQr'
'7bHIb6glPvWhAVbWX0dW2I6qK3YlOrkp0Mu1DyxzZnYWSI0tR791dId8vJzjLYx066eehQtIZTbx3D7p4VKFj3IfUxF4cIW4bpLRr151X3nxzXBmyw+G'
'tuXOPfujdd97o06vX5mMHDJhUVFAQK1VORGzevPmUv86Zc82A/v3X/nbChIS5QSJiJv3+9981eL3pmlDT0UDlJHSHiGanVaNJ6KYR+cBUBXo24jrg9wQ'
'cAKEPtAEVqNcIHIhKN8pRAZiKehCdHNfehia0vhF9TII/82IBwcFEUIFaCsxMRWcjwbGA1NXUVOfk5jaU//BD2w8XLuxy9JAhSR29PPHjj1d+fdJJKx9'
'+6qkTP1i16umsrMT9BTt37aKgY8eant27O+GJRcS7S5Z03V5RkVdSWLiz7/nnpyuYthZ1916BrvxHom7gjqjatR1lT79PhKfKhqAOPSn3IHr+5HiUftI'
'eFbINaFzqbSJHlX8kkJonbE7dELxEgOEdLa6zHk0eDao6diCQWyzSffagqtl96HmW41DnRjurzjoC44n0+2wnMJ6knjAQ11Y1bcqUFS/Pn//Tq8aMefD'
'iceOuT+bGAO+UlXX4buPGaeWVlX0aGhoSXrVzsrNruxYXLxo5dmxSKXuemTHjwYcef/zqi4YPf/fa8eNPTKatVvx3IK5lu3tJyUv5+fn9Fi1dOvqZGTO'
'Kunbt+lS7vLyK2DUj48A+fWamKuHT8r//PaEz89W7dxds2rRpzMKlS0/vXlq6q1uXLo+lqEut2MsR1w4iIubZRx6Z/dKCBcO/Xbs2r0e3bg05bdumjL7'
'RUqitqcldt2lT1uF9+1adccopsy8ZNy7WsdRW/I8gIW/Ay088ccn27dsvrtq5s6iuvt5JpDSjkZ2dXdepU6dtRZ06zTzvssteaen+tKIVrWhFK1rRir0'
'd/wGAL26bZyT4JgAAAABJRU5ErkJggg==';

UPDATE `server` SET `config`=LOAD_FILE('/tmp/ispconfig.ini') WHERE `server_id`=1;

UPDATE `sys_user` SET `language`='es', `startmodule`='sites' WHERE `userid`=1;

INSERT INTO `remote_user` VALUES (1,1,1,'riud','riud','','{{ ispconfig_api['user'] }}',md5('{{ ispconfig_api['password'] }}'),
  'n','','server_get,server_config_set,get_function_list,client_templates_get_all,server_get_serverid_by_ip,server_ip_get,'
  'server_ip_add,server_ip_update,server_ip_delete,system_config_set,system_config_get,config_value_get,config_value_add,'
  'config_value_update,config_value_replace,config_value_delete;admin_record_permissions;client_get_id,login,logout,mail_alias_get,'
  'mail_fetchmail_add,mail_fetchmail_delete,mail_fetchmail_get,mail_fetchmail_update,mail_policy_get,mail_spamfilter_blacklist_add,'
  'mail_spamfilter_blacklist_delete,mail_spamfilter_blacklist_get,mail_spamfilter_blacklist_update,mail_spamfilter_user_add,'
  'mail_spamfilter_user_get,mail_spamfilter_user_update,mail_spamfilter_whitelist_add,mail_spamfilter_whitelist_delete,'
  'mail_spamfilter_whitelist_get,mail_spamfilter_whitelist_update,mail_user_filter_add,mail_user_filter_delete,mail_user_filter_get,'
  'mail_user_filter_update,mail_user_get,mail_user_update,server_get,server_get_app_version;client_get_by_username,client_get_id,'
  'dns_zone_get,dns_zone_get_by_user,dns_zone_update,dns_txt_add,dns_txt_get,dns_txt_delete;client_get_all,client_get,client_add,'
  'client_update,client_delete,client_get_sites_by_user,client_get_by_username,client_get_by_customer_no,client_change_password,'
  'client_get_id,client_delete_everything,client_get_emailcontact;domains_domain_get,domains_domain_add,domains_domain_update,'
  'domains_domain_delete,domains_get_all_by_user;quota_get_by_user,trafficquota_get_by_user,mailquota_get_by_user,'
  'databasequota_get_by_user;mail_domain_get,mail_domain_add,mail_domain_update,mail_domain_delete,mail_domain_set_status,'
  'mail_domain_get_by_domain;mail_aliasdomain_get,mail_aliasdomain_add,mail_aliasdomain_update,mail_aliasdomain_delete;'
  'mail_mailinglist_get,mail_mailinglist_add,mail_mailinglist_update,mail_mailinglist_delete;mail_user_get,mail_user_add,'
  'mail_user_update,mail_user_delete;mail_alias_get,mail_alias_add,mail_alias_update,mail_alias_delete;mail_forward_get,'
  'mail_forward_add,mail_forward_update,mail_forward_delete;mail_catchall_get,mail_catchall_add,mail_catchall_update,'
  'mail_catchall_delete;mail_transport_get,mail_transport_add,mail_transport_update,mail_transport_delete;mail_relay_get,'
  'mail_relay_add,mail_relay_update,mail_relay_delete;mail_whitelist_get,mail_whitelist_add,mail_whitelist_update,'
  'mail_whitelist_delete;mail_blacklist_get,mail_blacklist_add,mail_blacklist_update,mail_blacklist_delete;mail_spamfilter_user_get,'
  'mail_spamfilter_user_add,mail_spamfilter_user_update,mail_spamfilter_user_delete;mail_policy_get,mail_policy_add,mail_policy_update,'
  'mail_policy_delete;mail_fetchmail_get,mail_fetchmail_add,mail_fetchmail_update,mail_fetchmail_delete;mail_spamfilter_whitelist_get,'
  'mail_spamfilter_whitelist_add,mail_spamfilter_whitelist_update,mail_spamfilter_whitelist_delete;mail_spamfilter_blacklist_get,'
  'mail_spamfilter_blacklist_add,mail_spamfilter_blacklist_update,mail_spamfilter_blacklist_delete;mail_user_filter_get,'
  'mail_user_filter_add,mail_user_filter_update,mail_user_filter_delete;mail_user_backup;mail_filter_get,mail_filter_add,'
  'mail_filter_update,mail_filter_delete;monitor_jobqueue_count;sites_cron_get,sites_cron_add,sites_cron_update,sites_cron_delete;'
  'sites_database_get,sites_database_add,sites_database_update,sites_database_delete, sites_database_get_all_by_user,'
  'sites_database_user_get,sites_database_user_add,sites_database_user_update,sites_database_user_delete, '
  'sites_database_user_get_all_by_user;sites_web_folder_get,sites_web_folder_add,sites_web_folder_update,sites_web_folder_delete,'
  'sites_web_folder_user_get,sites_web_folder_user_add,sites_web_folder_user_update,sites_web_folder_user_delete;sites_ftp_user_get,'
  'sites_ftp_user_server_get,sites_ftp_user_add,sites_ftp_user_update,sites_ftp_user_delete;sites_shell_user_get,sites_shell_user_add,'
  'sites_shell_user_update,sites_shell_user_delete;sites_web_domain_get,sites_web_domain_add,sites_web_domain_update,sites_web_domain_delete,'
  'sites_web_domain_set_status;sites_web_domain_backup;sites_web_aliasdomain_get,sites_web_aliasdomain_add,sites_web_aliasdomain_update,'
  'sites_web_aliasdomain_delete;sites_web_subdomain_get,sites_web_subdomain_add,sites_web_subdomain_update,sites_web_subdomain_delete;'
  'sites_aps_update_package_list,sites_aps_available_packages_list,sites_aps_change_package_status,sites_aps_install_package,'
  'sites_aps_get_package_details,sites_aps_get_package_file,sites_aps_get_package_settings,sites_aps_instance_get,sites_aps_instance_delete;'
  'sites_webdav_user_get,sites_webdav_user_add,sites_webdav_user_update,sites_webdav_user_delete;dns_zone_get,dns_zone_get_id,dns_zone_add,'
  'dns_zone_update,dns_zone_delete,dns_zone_set_status,dns_templatezone_add;dns_a_get,dns_a_add,dns_a_update,dns_a_delete;dns_aaaa_get,'
  'dns_aaaa_add,dns_aaaa_update,dns_aaaa_delete;dns_alias_get,dns_alias_add,dns_alias_update,dns_alias_delete;dns_caa_get,dns_caa_add,'
  'dns_caa_update,dns_caa_delete;dns_cname_get,dns_cname_add,dns_cname_update,dns_cname_delete;dns_dname_get,dns_dname_add,'
  'dns_dname_update,dns_dname_delete;dns_ds_get,dns_ds_add,dns_ds_update,dns_ds_delete;dns_hinfo_get,dns_hinfo_add,dns_hinfo_update,'
  'dns_hinfo_delete;dns_loc_get,dns_loc_add,dns_loc_update,dns_loc_delete;dns_mx_get,dns_mx_add,dns_mx_update,dns_mx_delete;dns_naptr_get,'
  'dns_naptr_add,dns_naptr_update,dns_naptr_delete;dns_ns_get,dns_ns_add,dns_ns_update,dns_ns_delete;dns_ptr_get,dns_ptr_add,dns_ptr_update,'
  'dns_ptr_delete;dns_rp_get,dns_rp_add,dns_rp_update,dns_rp_delete;dns_srv_get,dns_srv_add,dns_srv_update,dns_srv_delete;dns_sshfp_get,'
  'dns_sshfp_add,dns_sshfp_update,dns_sshfp_delete;dns_tlsa_get,dns_tlsa_add,dns_tlsa_update,dns_tlsa_delete;dns_txt_get,dns_txt_add,'
  'dns_txt_update,dns_txt_delete;vm_openvz');
